<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define MyChartsApp_TargetDir=$(var.MyChartsApp.TargetDir)?>
	<Product Id="*" Name="MyChartsApp" Language="1033" Version="1.0.0.0" Manufacturer="FiSSel" UpgradeCode="52bcc141-2c9a-4b8a-85f4-9dc8cbd23e4b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of MyChartsApp is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="MyChartsApp" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyChartsApp" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="MyChartsApp"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="8ae5f2cb-f678-4109-a9fc-8964a3b5abe1">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="MyChartsApp" Description="MyChartsApp" Target="[INSTALLFOLDER]MyChartsApp.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\MyChartsApp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="79df1487-e21a-472e-b4d1-8ed52838ede4">
				<Shortcut Id="ApplicationDesktopShortcut" Name="MyChartsApp" Description="MyChartsApp" Target="[INSTALLFOLDER]MyChartsApp.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\MyChartsApp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="MyChartsApp.exe" Guid="371fe891-3b01-4a32-b006-8cc340dc54cb">
			  <File Id="MyChartsApp.exe" Name="MyChartsApp.exe" Source="$(var.MyChartsApp_TargetDir)MyChartsApp.exe" />
			</Component>
			<Component Id="Syncfusion.SfChart.WPF.dll" Guid="4130d27b-e40c-4a26-9839-3e8d3bb21782">
			  <File Id="Syncfusion.SfChart.WPF.dll" Name="Syncfusion.SfChart.WPF.dll" Source="$(var.MyChartsApp_TargetDir)Syncfusion.SfChart.WPF.dll" />
			</Component>
			<Component Id="MyChartsApp.exe.config" Guid="6750bbe2-7890-4fb5-8ccb-f8c1f345fded">
			  <File Id="MyChartsApp.exe.config" Name="MyChartsApp.exe.config" Source="$(var.MyChartsApp_TargetDir)MyChartsApp.exe.config" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Material.dll" Guid="febf2a62-36e8-4fe1-ad79-3fff56d46297">
			  <File Id="MahApps.Metro.IconPacks.Material.dll" Name="MahApps.Metro.IconPacks.Material.dll" Source="$(var.MyChartsApp_TargetDir)MahApps.Metro.IconPacks.Material.dll" />
			</Component>
			<Component Id="Syncfusion.Licensing.dll" Guid="5ad740de-e2c9-4b0c-8106-c6574fa76ab5">
			  <File Id="Syncfusion.Licensing.dll" Name="Syncfusion.Licensing.dll" Source="$(var.MyChartsApp_TargetDir)Syncfusion.Licensing.dll" />
			</Component>
			<Component Id="MahApps.Metro.IconPacks.Core.dll" Guid="2afc66ae-6052-447c-baa3-2f27e0cd6aaa">
			  <File Id="MahApps.Metro.IconPacks.Core.dll" Name="MahApps.Metro.IconPacks.Core.dll" Source="$(var.MyChartsApp_TargetDir)MahApps.Metro.IconPacks.Core.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
